{* This is the welcome page, you can delete it *}

{block content}
	
	<article class="news">
		<h2 n:block=title>News</h2>
		{foreach $news as $item}
			<p>
				{$item->title} - {$item->created|date:'F j, Y'}
				<br>
				{$item->content}
			</p>
			<div class="line" n:if="!$iterator->last"></div>

		{/foreach}
	</article>
{/block}

{block scripts}

{/block}


{block head}

{/block}
