#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	

session:
	expiration: 14 days


services:
	- App\Model\UserManager
	- App\Model\Train
	- App\Model\Exercise
	- App\Model\Block
	- App\Model\TrainItem
	- App\Forms\SignFormFactory
	- App\Forms\NewTrainFormFactory
	router: App\RouterFactory::createRouter

extensions:
	facebook: Kdyby\Facebook\DI\FacebookExtension

facebook:
	appId: "538326589664470"
	appSecret: "fe247d9314e442dda49150af23cd600a"
	permissions: [public_profile, email]
	version: v2.5
