<ul class="submenu">
	<li><a n:href="new" class="newTrainBtn box">new</a></li>
	<li><a n:href="list" class="newTrainBtn box">list</a></li>
	<li><a n:href="default" class="newTrainBtn box">Stats</a></li>
</ul>