@font-face {
    font-family: '28-Days-Later';
    src: url('../fonts/28-Days-Later-webfont.eot');
    src: url('../fonts/28-Days-Later-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/28-Days-Later-webfont.woff2') format('woff2'),
         url('../fonts/28-Days-Later-webfont.woff') format('woff'),
         url('../fonts/28-Days-Later-webfont.ttf') format('truetype'),
         url('../fonts/28-Days-Later-webfont.svg#28_days_laterregular') format('svg');
    

}

body, html {
	padding: 0;
	margin: 0;
	background: gray repeat-x;
	background: url('../images/background-old.jpg') no-repeat;
	text-align: center;
}

#main {
	width: 1280px;
	margin: 0 auto;
	float: left;
	height: auto;
}

/**/
/*@media (min-width: 0px) {
	#main #left {
		width: 220px;
	}
}

@media (min-width: 481px) and (max-width: 979px) {
	#main #left {
		width: 24%;
	}	
}

@media (max-width: 480px) {
	#main #left {
		width: 47%;
	}
}*/

#main #left {
	float: left;
	height: auto;
	width: 220px;
	-webkit-border-top-right-radius: 10px;
  	-webkit-border-bottom-right-radius: 10px;
  	-moz-border-radius-topright: 10px;
 	-moz-border-radius-bottomright: 10px;
 	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
 	box-shadow: 3px 3px 5px #8c8c8c;
 	min-height: 600px;
	
	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.52);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)";
}

#main #right {
	float: right;
	width: 1060px;
	height: auto;
}

#main #left #menu {
	float: left;
}

#main #left #menu ul {
	
}

#main #left #menu ul li {
	list-style-type: none; 
}

#main #left #menu ul li a {
	font-family: "28-Days-Later";
	color: #000000;
	font-size: 37px;
	text-decoration: none;
}

#main #left #menu ul li a:hover, a:hover {
	color: #656464;
}

#main #left #menu ul li a.active {
	color: 733f3f;
}

h1, h1 a {
	font-family: '28-Days-Later';
	font-size: 82px;
	margin: 10px 0 0 0;
	text-decoration: none;
	color: #000000;
}

h2 {
	font-family: '28-Days-Later';
	font-size: 40px;
	margin: 10px 0 0 0;
	text-align: left;
	
}

#ajax-spinner {
	position:fixed;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    background: white url('../images/ajax-loader.gif') no-repeat 50% 50%;
    padding: 13px;
    border: 2px solid #CCC;
    font-size: 0;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}




#main #right article {
	font-size: 20px;
	padding-left: 33px;
	font-family: "28-Days-Later";
	text-align: left;
}

#main #right article .line {
	background: url('../images/line.png') repeat-x;
	width: 97%;
	height: 3px;
}

#main #right .box {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #8c8c8c;
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background-color: rgba(255, 255, 255, 0.52);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)";
}

#main #right .lastTrain .box ul {
	list-style-type: none;
}

#main #right .lastTrain article.list {
	width:  80%;
}

#main #right h2 {
	padding: 0 0 10px 30px;
}

#main #right .statistics {
	
}

#main #right .statistics .weekly {
	float: left;
	margin-right: 85px;
	width: 35%;
	margin-bottom: 25px;
}

#main #right .statistics .monthly {
	float: left;
	width: 35%;
}

#main #right .statistics .total {
	clear: both;
	width: 80%
}

#main #right #content {
	float: left;
}

#main #right a.newTrainBtn,
#main #right #frm-newTrainForm input[type="submit"] {
	color: black;
	font-size: 23px;
	padding: 18px 10px 10px 13px;
	text-decoration: none;
	font-family: "28-Days-Later";

}

#main #right a.newTrainBtn:hover,
#main #right #frm-newTrainForm input[type="submit"]:hover {
	color: #656464;
	cursor: pointer;
}

#main #right .trainList {
	
}

#main #right .trainList p {
	background: rgba(0, 0, 0, 0) url("../images/line.png") repeat-x scroll left bottom;
	width: 60%;
}

#main #right .trainList p a {
	color: #000000;
	text-decoration: none;
}

#main #right .trainList p a:hover {
	color: #656464;
}

#main #right .trainList p .date {
	font-size: 30px;
}

#main #right .trainList p .title {
	font-size: 30px;
}

#main #right .trainList p .share {
	background: url("../images/share.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 34px;
	margin-left: 195px;
	width: 27px;
}

#main #right .trainList p .trash {
	background: rgba(0, 0, 0, 0) url("../images/trash.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 30px;
	margin-left: 15px;
	width: 25px;
}

#main #right .trainList ul {
	list-style-type: none;
	font-size: 27px; 
}

#main #right .trainList .trainContent.hide {
	display: none;
}

#main #right .trainList .trainContent.show {
	display: block;
}

/*===============NEW TRAIN==============*/

#frm-newTrainForm {
	text-align: left;
	font-family: '28-Days-Later';
	font-size: 20px;
}

#frm-newTrainForm .trainData {
	padding: 0 0 15px 32px;
}

#frm-newTrainForm .trainData span input {
	width: 150px;
	font-size: 20px;
}

#frm-newTrainForm .trainData span label {
	position: relative;
	top: 7px;
}

#frm-newTrainForm article.block {
	padding: 0px;
}

#frm-newTrainForm article.block .exercise {
	width: 100%;
}

#frm-newTrainForm article.block .exercise .header {
	background: url("../images/line.png") repeat-x center bottom;
	padding-bottom: 12px;
	width: 960px;
}

#frm-newTrainForm article.block .exercise .header span:nth-child(1) {
	position: relative;
	top: 20px;
}

#frm-newTrainForm article.block .exercise .header span:nth-child(2),
#frm-newTrainForm article.block .exercise .header span:nth-child(3) {
	margin-left: 190px; 
	position: relative;
	top: 6px;
}

#frm-newTrainForm article.block .exercise .header span label {
	position: relative;
	top: 4px;
}

#frm-newTrainForm article.block .exercise .labels {
	position: relative;
	top: 14px;
	margin-top: 15px;
}

#frm-newTrainForm article.block .exercise .labels .exercise {
	letter-spacing: 5px;
	margin-left: 15px;
}

#frm-newTrainForm article.block .exercise .labels .sets {
	margin-left: 57px;
}

#frm-newTrainForm article.block .exercise .labels .reps {
	margin-left: 23px;
}

#frm-newTrainForm article.block .exercise .labels .rest {
	margin-left: 43px;
	letter-spacing: 10px;
}

#frm-newTrainForm article.block .exercise .labels .ledder {
	position: relative;
	top: -19px;
	left: 80px;
}

#frm-newTrainForm article.block .exercise .labels .ledderFrom {
	margin-left: -4px;
}

#frm-newTrainForm article.block .exercise .labels .ledderTo {
	margin-left: 23px;
}

#frm-newTrainForm article.block .exercise .labels .moreWeightValue {
	margin-left: 40px;
}

#frm-newTrainForm article.block .exercise .labels .hold {
	margin-left: 61px;
	letter-spacing: 5px;
}

#frm-newTrainForm article.block .exercise .addExercise {
	margin: 10px;
	position: relative;
	top: 10px;
}

#frm-newTrainForm .blockTrainBtn {
	padding: 20px 0 0 44px;
}

#frm-newTrainForm article.block .title h3 {
	font-size: 30px;
	text-align: center;
}

#frm-newTrainForm input[type="text"] {
	width: 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
 	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)";
    background-color: rgba(255, 255, 255, 0.82);
	border: medium none;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #8c8c8c;
	font-size: 15px;
	padding: 8px 15px;
	text-align: center;
	width: 26px;
}

#frm-newTrainForm .trash {
	background: url("../images/trash.png") no-repeat;
	width: 28px;
	height: 20px;
	border: none;
}

#frm-newTrainForm select {
	webkit-border-radius: 10px;
	-moz-border-radius: 10px;
 	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)";
    background-color: rgba(255, 255, 255, 0.82);
	border: medium none;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #8c8c8c;
	font-size: 15px;
	padding: 8px 15px;
	text-align: center;
	width: 26px;
}

#frm-newTrainForm select, #main #right #frm-newTrainForm input {
	font-family: "28-Days-Later";
	font-size: 20px;
}

#frm-newTrainForm .exerciseList {
	width: 168px;
}

#frm-newTrainForm .unitRestList,
#frm-newTrainForm .unitBlockRestList,
#frm-newTrainForm .unitHoldList {
	width: 88px;
}

#frm-newTrainForm .unitMoreWeightList {
	width: 88px;
}

#frm-newTrainForm .exerciseList {

}

















